{% load static %}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link href="{% static 'css/parsing/file_download.css' %}" rel="stylesheet">
<link href="{% static 'css/parsing/w3.css' %}" rel="stylesheet">
<link href="{% static 'css/boards/home.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet">
<link href="{% static 'fonts/font-awesome/css/all.min.css' %}" rel="stylesheet">
